<!DOCTYPE html>
<html>
<head>
    <title>BigDrive</title>
    <meta charset="utf-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen,projection">
    <style>
      body { 
        margin: 0 auto;
        padding: 0;
      }

      .resource { font-family: Courier; }
    </style>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>BigDrive API</h1>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title resource">GET /trackers/</div>
      </div>
      <div class="panel-body">
        Return a list of trackers' history.
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title resource">GET /trackers/:id/</div>
      </div>
      <div class="panel-body">
        Return a detail of tracker's history.
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title resource">GET /trackers/push/?longitude=123&amp;latitude=456&amp;altitude=789 \
          &amp;speedGTO=100&amp;satellites=1&amp;course=2</div>
      </div>
      <div class="panel-body">
        Send an object to server.
      </div>
    </div>

    <footer></footer>
  </div>

  <script type="application/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js" charset="utf-8"></script>
  <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" charset="utf-8"></script>
</body>
</html>
